# requirements.txt
https://github.com/MacHu-GWU/pandas-wheel-macos-linux/releases/download/v1.5.3/pandas-1.5.3-cp310-cp310-manylinux_2_17_x86_64.whl
requests==2.31.0
streamlit==1.47.1
yfinance==0.2.65
google-generativeai==0.8.5
